<app-generic-list
  [columns]="columns"
  [data]="maletines()"
  [loading]="loading()"
  [error]="error()"
  [total]="totalElements()"
  [pageIndex]="pageIndex()"
  [pageSize]="pageSize()"
  [pageSizeOptions]="[15, 25, 50, 100]"
  searchLabel="Buscar maletín por código o sector..."
  [searchValue]="search()"
  (searchValueChange)="search.set($event)"
  [toolbarActions]="toolbarActions"
  emptyMessage="No hay maletines registrados"
  [trackBy]="trackById"
  (pageChange)="onPageChange($event)"
  (retry)="load()"
  (actionClicked)="onToolbarAction($event)"
  (searchSubmit)="pageIndex.set(0); load()"
>
  <ng-template appTableCell="id_maletin" [appTableCellFrom]="maletines()" let-item>
    {{ item.id_maletin | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="nombre" [appTableCellFrom]="maletines()" let-item>
    {{ item.nombre | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="sector" [appTableCellFrom]="maletines()" let-item>
    {{ item.sector?.nombre | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="idCajaActual" [appTableCellFrom]="maletines()" let-item>
    {{ item.idCajaActual | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="abierto" [appTableCellFrom]="maletines()" let-item>
    <span class="estado-pill" [class.estado-pill--abierto]="item.abierto">
      {{ item.abierto ? 'Sí' : 'No' }}
    </span>
  </ng-template>

  <ng-template appTableCell="ultimoMovimiento" [appTableCellFrom]="maletines()" let-item>
    {{ item.ultimoMovimiento | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="ultimoResponsable" [appTableCellFrom]="maletines()" let-item>
    {{ responsableLabel(item) | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="acciones" [appTableCellFrom]="maletines()" let-item>
    <app-action-menu [actions]="rowActions" (actionSelected)="onRowAction($event, item)" />
  </ng-template>
</app-generic-list>
