<app-generic-list
  [columns]="columns"
  [data]="empresas()"
  [loading]="loading()"
  [error]="error()"
  [total]="totalElements()"
  [pageIndex]="pageIndex()"
  [pageSize]="pageSize()"
  [pageSizeOptions]="[15, 25, 50, 100]"
  searchLabel="Razón social, nombre de fantasía o RUC"
  [searchValue]="search()"
  (searchValueChange)="onSearchChange($event)"
  [toolbarActions]="toolbarActions"
  emptyMessage="No hay empresas para facturar"
  [trackBy]="trackById"
  (pageChange)="onPageChange($event)"
  (retry)="load()"
  (actionClicked)="onToolbarAction($event)"
  (searchSubmit)="pageIndex.set(0)"
>
  <ng-template appTableCell="id" [appTableCellFrom]="empresas()" let-empresa>
    {{ empresa.id_empresa }}
  </ng-template>

  <ng-template appTableCell="razon_social" [appTableCellFrom]="empresas()" let-empresa>
    {{ empresa.razon_social | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="nombre_fantasia" [appTableCellFrom]="empresas()" let-empresa>
    {{ empresa.nombre_fantasia | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="ruc" [appTableCellFrom]="empresas()" let-empresa>
    {{ empresa.ruc | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="telefono" [appTableCellFrom]="empresas()" let-empresa>
    {{ empresa.telefono | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="direccion" [appTableCellFrom]="empresas()" let-empresa>
    {{ empresa.direccion | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="activa" [appTableCellFrom]="empresas()" let-empresa>
    {{ empresa.activa ? 'Sí' : 'No' }}
  </ng-template>

  <ng-template appTableCell="acciones" [appTableCellFrom]="empresas()" let-empresa>
    <app-action-menu [actions]="rowActions" (actionSelected)="onRowAction($event, empresa)" />
  </ng-template>
</app-generic-list>
