<app-generic-list
  [columns]="columns"
  [data]="cotizaciones()"
  [loading]="loading()"
  [error]="error()"
  [total]="totalElements()"
  [pageIndex]="pageIndex()"
  [pageSize]="pageSize()"
  [pageSizeOptions]="[15, 25, 50]"
  [searchLabel]="'Buscar por moneda'"
  [searchValue]="search()"
  [toolbarActions]="toolbarActions"
  [emptyMessage]="'No hay cotizaciones registradas'"
  [trackBy]="trackById"
  (searchValueChange)="search.set($event)"
  (actionClicked)="onToolbarAction($event)"
  (pageChange)="onPageChange($event)"
  (retry)="load()"
>
  <ng-template appTableCell="moneda" [appTableCellFrom]="cotizaciones()" let-item>
    {{ monedaLabel(item.moneda) | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="valor" [appTableCellFrom]="cotizaciones()" let-item>
    {{ item.valor | number: '1.2-2' | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="fechaActualizacion" [appTableCellFrom]="cotizaciones()" let-item>
    {{ item.fechaActualizacion | date: 'dd/MM/yyyy HH:mm' | defaultEmpty }}
  </ng-template>

  <ng-template appTableCell="activa" [appTableCellFrom]="cotizaciones()" let-item>
    <span [class.badge-active]="item.activa" [class.badge-inactive]="!item.activa">
      {{ item.activa ? 'Sí' : 'No' }}
    </span>
  </ng-template>

  <ng-template appTableCell="acciones" [appTableCellFrom]="cotizaciones()" let-item>
    <app-action-menu [actions]="rowActions" (actionSelected)="onRowAction($event, item)" />
  </ng-template>
</app-generic-list>
